<div layout="row" layout-fill ng-controller="ChangePasswordCtrl" class="social">
  <form class="form" name="form" ng-submit="changePassword(form)"
        layout="column" flex-lg="50" flex-sm="100" layout-margin>
    <div layout="row" flex>
      <md-input-container layout-fill>
        <label>old password</label>
        <input ng-model="password.old" type="password" required name="passwordOld" minlength="4"
               ng-change="oldPasswordChanged()"/>
        <div ng-messages="form.passwordOld.$error" ng-show="form.passwordOld.$touched">
          <div ng-message="required"><span>required field</span></div>
          <div ng-message="minlength"><span>password must be longer then 3 characters</span></div>
          <div ng-message="badPassword"><span>wrong password</span></div>
        </div>
      </md-input-container>
    </div>
    <div layout="row" flex>
      <md-input-container layout-fill>
        <label>new password</label>
        <input ng-model="password.new" type="password" required name="passwordNew" minlength="4"
               ng-change="validatePassword()"/>
        <div ng-messages="form.passwordNew.$error" ng-show="form.passwordNew.$touched">
          <div ng-message="required"><span>required field</span></div>
          <div ng-message="minlength"><span>password must be longer then 3 characters</span></div>
        </div>
      </md-input-container>
    </div>
    <div layout="row" flex>
      <md-input-container layout-fill>
        <label>confirm password</label>
        <input ng-model="password.newVerify" type="password" required name="passwordNewVerify" minlength="4"
               ng-change="validatePassword()"/>
        <div ng-messages="form.passwordNewVerify.$error" ng-show="form.passwordNewVerify.$touched">
          <div ng-message="required"><span>required field</span></div>
          <div ng-message="minlength"><span>password must be longer then 3 characters</span></div>
          <div ng-message="notEqual"><span>passwords not identical</span></div>
        </div>
      </md-input-container>
    </div>
    <div layout="row" flex>
      <md-button class="md-raised md-primary" type="submit" ng-disabled="!form.$valid">
        <i class="mdi mdi-refresh mdi-18px"></i>
        <span>change password</span>
      </md-button>
    </div>
  </form>
</div>