<md-dialog flex="30">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span class="md-headline">Create new lesson</span>
    </div>
  </md-toolbar>
  <md-dialog-contnet layout="column" class="md-dialog-content">
    <md-contact-chips
      ng-model="students"
      md-contacts="loadStudents($query)"
      md-contact-name="fullname"
      md-contact-image="image"
      md-contact-email="email"
      md-require-match="true"
      md-highlight-flags="i"
      placeholder="With">

    </md-contact-chips>
    <md-input-container>
      <label>Date</label>
      <input ng-model="time" type="datetime-local" step="900" aria-label="Lesson time"/>
    </md-input-container>
    <md-input-container>
      <label>Duration</label>
      <input ng-model="duration" type="number" step="15" min="30" max="90" aria-label="Lesson duration"/>
    </md-input-container>
  </md-dialog-contnet>
  <md-dialog-actions>
    <md-button ng-click="save()" class="md-primary" ng-disabled="!students.length">Save</md-button>
  </md-dialog-actions>
</md-dialog>