<div layout="row">
  <div layout="column" flex="30">
    <md-card md-whiteframe="3">
      <div layout="column" layout-align="space around">
        <form name="eventInfoForm">
            <md-subheader flex>
              <h2>{{event.name}}</h2>
            </md-subheader>
          <div layout="row" class="event-dates">
            <md-datepicker flex="40" ng-model="event.startDate" disabled="true"></md-datepicker>
            <md-datepicker flex="40" ng-model="event.endDate" disabled="true"></md-datepicker>
          </div>
          <md-input-container layout-margin flex>
            <label>description</label>
            <textarea ng-model="event.description" disabled="true">
            </textarea>
          </md-input-container>
        </form>
      </div>
    </md-card>
    <div>
    </div>
  </div>
  <div layout="column" flex="50">
    <md-card md-whiteframe="3">
      <md-subheader>
        <h2>Locations</h2>
      </md-subheader>
    </md-card>
  </div>
</div>