<div layout="column" flex class="schedule">
  <md-tabs layout="column" md-enable-disconnect="true" md-selected="selectedDay" class="teacher" flex>
    <md-tab ng-repeat="day in ::days" label="{{::getDay(day)}}" md-on-select="hours = makeHours(day)">
      <md-card>
        <md-card-content>
          <div ng-repeat="hour in hours" ng-init="quarters = makeQuarters(hour)">
            <div layout="row" class="hour">
              <div layout="column" layout-align="center center">
                <span class="md-headline">{{hour | amDateFormat: 'HH:mm'}}</span>
              </div>
              <div layout="column" flex>
                <div class="quarter" ng-repeat="quarter in quarters" flex layout="row" md-ink-ripple
                     ng-click="addNew()($event, quarter)" ng-class="{ constraint: display === 'teacher' ? inConstraints(day, hour, quarter) : false }">
                  <ds-timeline ng-if="currentTime(hour, quarter)" leftover="{{now.minutes() % quarter.minutes()}}"></ds-timeline>
                  <ds-lesson duration="lesson.duration" index="{{lesson.index}}" theme="{{lesson.theme}}" ng-click="selectLesson($event, lesson)"
                          ng-repeat="lesson in newLessons[day.toString()][hour.toString()][quarter.toString()]">
                    <div ng-if="display === 'student'" >
                      <span class="user" ng-repeat="participant in lesson.participants">{{participant.student.name.first}} {{participant.student.name.last}} </span>
                    </div>
                    <span ng-if="display === 'teacher'" class="md-subhead">{{lesson.teacher.name.first}} {{lesson.teacher.name.last}}</span>
                  </ds-lesson>
                </div>
              </div>
            </div>
            <md-divider></md-divider>
          </div>
        </md-card-content>
      </md-card>
    </md-tab>
  </md-tabs>
</div>