<md-tabs flex>
  <md-tab label="Profile">
    <md-card flex="40">
      <form>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Profile</span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content layout="column">
          <div layout="row">
            <md-input-container flex class="md-accent">
              <label>first name</label>
              <input ng-model="user.name.first" type="text" required name="firstName">

              <div ng-messages="userForm.firstName.$error"
                   ng-show="userForm.firstName.$invalid && userForm.firstName.$touched">
                <div ng-message="required"><span>required</span></div>
              </div>
            </md-input-container>
            <md-input-container flex class="md-accent">
              <label>last name</label>
              <input ng-model="user.name.last" type="text" required name="lastName">

              <div ng-messages="userForm.lastName.$error"
                   ng-show="userForm.lastName.$invalid && userForm.lastName.$touched">
                <div ng-message="required"><span>required</span></div>
              </div>
            </md-input-container>
          </div>
          <md-input-container class="md-accent">
            <label>email</label>
            <input ng-model="user.email" type="email" required name="email">

            <div ng-messages="userForm.email.$error"
                 ng-show="userForm.email.$invalid && userForm.email.$touched">
              <div ng-message="required"><span>required</span></div>
              <div ng-message="email">email invalid</div>
              <div ng-message="mongoose"><span>email already exist</span></div>
            </div>
          </md-input-container>

        </md-card-content>
        <md-card-actions layout="row" layout-align="end end">
          <md-button class="md-accent" ng-click="saveChanges()">Save</md-button>
        </md-card-actions>
      </form>

    </md-card>
  </md-tab>
  <md-tab label="Change Password">
    <md-card flex="40">
      <form>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Change Password</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">
          <md-input-container class="md-accent" flex="50" layout-fill>
            <label>old password</label>
            <input ng-model="oldPassword" type="text" required name="oldPassword" minlength="8">

            <div ng-messages="userForm.oldPassword.$error"
                 ng-show="userForm.oldPassword.$invalid && userForm.oldPassword.$touched">
              <div ng-message="required"><span>required</span></div>
              <div ng-message="minlength"><span>min length is 8 digits</span></div>
            </div>
          </md-input-container>
          <md-input-container class="md-accent" flex="50" layout-fill>
            <label>new password</label>
            <input ng-model="newPassword" type="text" required name="newPassword" minlength="8">

            <div ng-messages="userForm.newPassword.$error"
                 ng-show="userForm.newPassword.$invalid && userForm.newPassword.$touched">
              <div ng-message="required"><span>required</span></div>
              <div ng-message="minlength"><span>min length is 8 digits</span></div>
            </div>
          </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end end">
          <md-button class="md-accent" ng-click="changePassword(oldPassword, newPassword)">Save</md-button>
        </md-card-actions>
      </form>
    </md-card>
  </md-tab>
</md-tabs>