<div layout="row" flex>
  <ds-schedule layout="column" flex="60" api="schedule" display="student" on-load="onLoad"
               lesson-details="selectLesson"></ds-schedule>
  <div layout="column" flex md-colors="{background: 'background-300'}">
    <ds-map layout="column" api="map" flex="30"></ds-map>
    <div flex>
      <div ng-if="currentLesson" layout="column" layout-margin>
        <span class="md-display-2">
          <span>{{currentLesson.date | amDateFormat:'HH:mm'}}</span>
        </span>
        <div layout="row">
          <div ng-repeat="participant in currentLesson.participants" flex layout="column">
            <span class="md-title">{{ participant.student.name.first }} {{ participant.student.name.last}} </span>
            <div ng-repeat="prog in participant.progress | orderBy:'topic.name'" layout="row" class="topic" layout-align="start center">
              <div flex layout="row">
                <i class="mdi mdi-{{prog.topic.name === 'Highway' ? 'highway' : prog.topic.name === 'Squares' ? 'radiobox-marked' : 'alert'}}" ></i>
                <span>{{prog.topic.name}}</span>
              </div>
              <div>
                <span>
                  <span>({{(totalProgress[participant.student._id][prog.topic._id] || {grade: 0}).grade}})</span>
                  <md-tooltip>Total progress</md-tooltip>
                </span>
              </div>
              <md-input-container>
                <input min="0" max="10" ng-model="prog.grade" type="number"/>
              </md-input-container>
              <span flex></span>
            </div>
          </div>
        </div>
        <div layout="row" layout-align="end">
          <md-button class="md-accent md-raised" ng-click="save()">save</md-button>
        </div>
      </div>
    </div>
  </div>
</div>
<md-button class="md-fab md-fab-bottom-right md-primary" layout layout-align="center center"
           ng-click="generateDay($event)" aria-label="Generate Day">
  <i class="mdi mdi-calendar"></i>
</md-button>
