<div layout="row" flex>
  <ds-schedule layout="column" flex="60" api="schedule" display="student" on-load="onLoad" add-new="generateDay"
               lesson-details="selectLesson"></ds-schedule>
  <div layout="column" flex md-colors="{background: 'background-300'}">
    <ds-map layout="column" api="map" flex="30"></ds-map>
    <div flex>
      <div ng-if="currentLesson" layout="column" layout-margin>
        <span class="md-display-2">
          <span>{{currentLesson.lesson.date | amDateFormat:'HH:mm'}}</span>
        </span>
        <div layout="row">
          <div ng-repeat="participant in currentLesson.participants" flex layout="column">
            <span class="md-title">{{ participant.student.name.first }} {{ participant.student.name.last}} </span>
            <div ng-repeat="prog in participant.progress" layout="row" class="topic">
              <i class="mdi mdi-{{prog.topic.name === 'Highway' ? 'highway' : prog.topic.name === 'Squares' ? 'radiobox-marked' : 'alert'}}" flex></i>
              <span flex layout-align="center">{{ prog.grade }}</span>
              <span flex></span>
            </div>
          </div>
        </div>
        <label>Lesson</label>
        <div layout="row">
          <div ng-repeat="prog in currentLesson.lesson.progress">
            <label>{{prog.topic.name + ' - ' + prog.grade}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<md-button class="md-fab md-fab-bottom-right md-primary" layout layout-align="center center"
           ng-click="generateDay($event)" aria-label="Generate Day">
  <i class="mdi mdi-calendar"></i>
</md-button>
