<div layout="row" flex>
  <ds-schedule layout="column" flex="60" api="schedule" on-load="onLoad" add-new-lesson="addNewLesson" lesson-details="selectLesson"></ds-schedule>
  <div layout="column" flex>
    <ds-map layout="column" flex api="map"></ds-map>
    <div flex>
      Last Lessons
      <div ng-repeat="lesson in lastLessons">
        {{lesson.student.name.first + ' ' + lesson.student.name.last + ' - ' + (lesson.date | amDateFormat:'HH:mm')}}
      </div>
      Current Lessons
      <div ng-repeat="lesson in currentLessons">
        {{lesson.student.name.first + ' ' + lesson.student.name.last + ' - ' + (lesson.date | amDateFormat:'HH:mm')}}
      </div>
      Next Lessons
      <div ng-repeat="lesson in nextLessons">
        {{lesson.student.name.first + ' ' + lesson.student.name.last + ' - ' + (lesson.date | amDateFormat:'HH:mm')}}
      </div>
    </div>
  </div>
</div>
<md-button class="md-fab md-fab-bottom-right md-primary" layout layout-align="center center"
           ng-click="addNewLesson($event)" aria-label="Add new lesson">
  <i class="mdi mdi-plus"></i>
</md-button>
