<md-card flex="60">
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span>My Events</span>
    </div>
  </md-toolbar>
  <md-table-container>
    <table md-table ng-model="selected" md-progress="promise">
      <thead md-head>
      <tr md-row>
        <th md-column>name</th>
        <th md-column>startDate</th>
        <th md-column>endDate</th>
        <th md-column>description</th>
        <th md-column></th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row ng-repeat="event in events">
        <td md-cell>{{event.name}}</td>
        <td md-cell>{{event.startDate | date : 'dd/MM/yyyy'}}</td>
        <td md-cell>{{event.endDate | date : 'dd/MM/yyyy'}}</td>
        <td md-cell>{{event.description}}</td>
        <td md-cell>
          <md-button class="md-icon-button launch md-primary mdi mdi-arrow-right mdi-24px" ng-click="openEvent(event)">
          </md-button>
        </td>
      </tr>
      </tbody>
    </table>
  </md-table-container>
</md-card>