<md-dialog>
  <md-toolbar>
    <div layout-margin>
      <h3>Create new event</h3>
    </div>
  </md-toolbar>
  <md-dialog-content layout-margin>
    <form class="form" name="newEventForm">
      <div class="form-content" layout="column">
        <md-input-container>
          <label>Event name</label>
          <input name="name" ng-model="event.name" required maxlength="30" placeholder="enter event name">

          <div ng-messages="newEventForm.name.$error"
               ng-show="newEventForm.name.$invalid && newEventForm.name.$touched">
            <div ng-message="required">required</div>
            <div ng-message="maxlength">max length is 30</div>
          </div>
        </md-input-container>
        <div layout="row" fill>
          <md-datepicker name="startDate" md-placeholder="start date" ng-model="event.startDate" required>
            <div class="validation-messages" ng-messages="newEventForm.startDate.$error">
              <div ng-message="valid">date invalid</div>
              <div ng-message="required">required</div>
            </div>
          </md-datepicker>
          <md-datepicker name="endDate" md-placeholder="end date" ng-model="event.endDate">
            <div class="validation-messages" ng-messages="newEventForm.endDate.$error">
              <div ng-message="valid">date invalid</div>
              <div ng-message="required">required</div>
            </div>
          </md-datepicker>
        </div>
        <md-input-container>
          <label>description</label>
          <textarea name="description" ng-model="event.description" maxlength="100" placeholder="enter description">
          </textarea>

          <div ng-messages="newEventForm.description.$error"
               ng-show="newEventForm.description.$invalid && newEventForm.description.$touched">
            <div ng-message="maxlength">max length is 100</div>
          </div>
        </md-input-container>
        <div layout="row" layout-align="end">
          <md-button class="md-primary md-raised" ng-click="createEvent()" ng-disabled="newEventForm.$invalid">create</md-button>
          <md-button class="md-primary md-raised" ng-click="cancel()">cancel</md-button>
        </div>
      </div>
    </form>
  </md-dialog-content>
</md-dialog>