<div ng-controller="SideMenu" layout="column" layout-fill>
  <md-toolbar class="md-tall pattern" layout="row" layout-fill layout-align="start end">
    <h2 class="md-toolbar-tools md-toolbar-tools-bottom" flex>
      <span class="md-flex">{{ loggedInUser.name.first + " " + loggedInUser.name.last }}</span>
    </h2>
  </md-toolbar>
  <md-content layout="column" class="side-menu-content" flex>
    <div layout="column" flex>
      <div layout="column" flex>
        <div class="nav-button" layout="row" layout-fill ng-repeat="item in navList">
          <md-button ui-sref-active="md-raised" ui-sref="{{item.state}}" type="button" flex ng-click="toggleMenu()">
            <div layout="row" layout-align="center center">
              <i ng-class="item.iconClass"
                 flex="25"></i>
              <span flex>{{ item.text }}</span>
            </div>
          </md-button>
        </div>
      </div>
      <div class="nav-button" layout="row" layout-fill>
        <md-button ui-sref-active="md-raised" flex ng-click="logout()">
          <div layout="row" layout-align="center center">
            <i class="mdi mdi-duck mdi-24px" flex="25"></i>
            <span flex>Logout</span>
          </div>
        </md-button>
      </div>
    </div>
  </md-content>
</div>