<md-tabs flex layout="column" md-enable-disconnect="true" md-selected="selectedDay">
  <md-tab ng-repeat="day in ::days" label="{{::getDay(day)}}" md-on-select="hours = makeHours(day)">
    <md-card>
      <md-card-content>
        <div ng-repeat="hour in hours" ng-init="quarters = makeQuarters(hour)">
          <div layout="row">
            <span class="md-headline">{{hour | amDateFormat: 'HH:mm'}}</span>
            <div layout="column" flex>
              <div ng-repeat="quarter in quarters" flex layout="row">
                <md-card ng-repeat="lesson in newLessons[day.toString()][hour.toString()][quarter.toString()]">
                  {{lesson._id}}
                </md-card>
              </div>
            </div>
          </div>
          <md-divider></md-divider>
        </div>
      </md-card-content>
    </md-card>
  </md-tab>
</md-tabs>