<div ng-controller="UserDetailsCtrl">
  <div layout="row" layout-fill class="user-details">
    <form class="form" name="form" ng-submit="changeUserInfo(form)"
          layout="column" flex-lg="50" layout-margin>

      <div layout="row" layout-fill layout-margin>
        <md-input-container flex layout-fill>
          <label>first name</label>
          <input ng-model="user.name.first" type="text" required name="firstName">

          <div ng-messages="form.firstName.$error" ng-show="form.firstName.$touched">
            <div ng-message="required"><span>required field</span></div>
          </div>
        </md-input-container>
      </div>

      <div layout="row" layout-fill layout-margin>
        <md-input-container flex layout-fill>
          <label>last name</label>
          <input ng-model="user.name.last" type="text" required name="lastName">

          <div ng-messages="form.lastName.$error" ng-show="form.lastName.$touched">
            <div ng-message="required"><span>required field</span></div>
          </div>
        </md-input-container>
      </div>

      <div layout="row" layout-fill layout-margin>
        <md-input-container class="input-reverse" flex layout-fill>
          <label>email</label>
          <input ng-model="user.email" type="email" required name="email">

          <div ng-messages="form.email.$error" ng-show="form.email.$touched">
            <div ng-message="required"><span>required field</span></div>
            <div ng-message="email"><span>invalid email</span></div>
            <div ng-message="mongoose"><span>email already in use</span></div>
          </div>
        </md-input-container>
      </div>

      <div layout="row" layout-fill layout-margin layout-align="space-around center">
        <md-subheader class="subheader" flex="40">gender</md-subheader>
        <md-radio-group ng-model="user.gender" layout="row" layout-align="space-around" layout-fill layout-margin flex="60">
          <md-radio-button value="male" aria-label="זכר">male</md-radio-button>
          <md-radio-button value="female" aria-label="נקבה">female</md-radio-button>
        </md-radio-group>
      </div>

      <div layout="row" layout-fill layout-margin layout-align="center end">
        <md-button class="md-raised md-primary" type="submit" flex="80" ng-disabled="!form.$valid">
          <i class="mdi mdi-content-save mdi-18px" flex></i>
          <span flex>save changes</span>
        </md-button>
      </div>
    </form>
  </div>
</div>